/* Color Scheme
blue: #0F0326
red: #E65F5C

*/

/* Fonts */

/* Box sizing rules */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Body core defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.btn {
  padding: 8px 24px;
  border-width: 2px;
  border-style: solid;
  border-color: #0F0326;
  border-radius: 10px;
  color: #0F0326;
  font-size: 15px;
  background-color: transparent;
  transition: 0.3s color, 0.3s background-color;
}
.btn:hover{
  color: #fff;
  background-color: #0F0326;
  transition: 0.3s color, 0.3s background-color;
}
.btn.alt {
  border-color: #E65F5C;
  color: #E65F5C;
}
.btn.alt:hover{
  color: #fff;
  background-color: #E65F5C;
}

@media (min-width: 768px){}

@media (min-width: 1025px){
  .btn {
    padding: 6px 27px;
    font-size: 20px;
  }
}

